/* CSS HEX */
:root{
--amarelo: #F6C300ff;
--fundo_bege: #FFF6EDff;
--degrade_verde: #69A57Bff;
--vermelho: #FF171Eff;
--escrita_verde: #006214ff;
}

/* SCSS HEX */
$amarelo: #F6C300ff;
$fundo_bege: #FFF6EDff;
$degrade_verde: #69A57Bff;
$vermelho: #FF171Eff;
$escrita_verde: #006214ff;