<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site-template</title>
</head>
<body class="site">
    {{>partials/head}}
    {{>partials/header}}
    {{>partials/section}}
    {{>partials/footer}}
</body>
</html>